<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/comment">Vlog</a>
        </li>
        <li class="nav-item active" *ngIf="!isLoggedIn()">
            <a class="nav-link" href="/login">Login <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item" *ngIf="isLoggedIn()">
            <a class="nav-link" (click)="onLogout()" href="#">Log out</a>
          </li>
      </ul>
    </div>
</nav>

<div class="outer">
    <div class="container">
        <div class="row">
            <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
                <div class="panel border bg-white">
                    <div class="panel-heading">
                        <h3 class="pt-3 font-weight-bold">Login</h3>
                    </div>
                    <div class="panel-body p-3">
                        <form [formGroup]="loginForm">
                            <div class="form-group p-3">
                                <div class="input-field" [class.error]="loginForm.controls['username'].dirty && loginForm.hasError('required', 'username')">
                                    <span class="fa fa-user p-2"></span>
                                    <input formControlName="username" type="text" placeholder="Username" id="username">
                                </div>
                            </div>
                            <small *ngIf="loginForm.controls['username'].dirty && loginForm.hasError('required', 'username')" class="text-danger">*Username is required</small>
                            <div class="form-group p-3">
                                <div class="input-field" [class.error]="loginForm.controls['password'].dirty && loginForm.hasError('required', 'password')">
                                    <span class="fa fa-lock p-2"></span>
                                    <input [type]="type" placeholder="Password" formControlName="password" id="password">
                                    <span (click)="hideShowPass()" class="fa {{eyeIcon}}"></span>
                                </div>
                            </div>
                            <small *ngIf="loginForm.controls['password'].dirty && loginForm.hasError('required', 'password')" class="text-danger">*Password is required</small>
                            <br/>
                            <div *ngIf="loginError" class="alert alert-danger" role="alert">
                                {{loginError}}
                            </div>
                            <div class = "form-inline fr mt-4">
                                <a id="forgot" class="font-weight-bold">Forgot Password?</a>
                            </div>
                            <button (click)="onLogin() "type="submit" class="btn btn-primary btn-block mt-4 w-100">Login</button>
                            <div class="test-center pt-4 text-muted">Don't have an account? <a id="forgot" routerLink="/register" id="register-link">Register</a></div>
                        </form>
                </div>
            </div>
        </div>
    </div>
</div>           