<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/comment">Vlog</a>
        </li>
        <li class="nav-item" *ngIf="!isLoggedIn()">
          <a class="nav-link" href="/login">Login</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn()">
          <a class="nav-link" (click)="onLogout()" href="#">Log out</a>
        </li>
      </ul>
    </div>
</nav>

<div class="outer">
    <div id="dashboard-title" class="page-title">
    <p >My Travel Site</p>
    </div>

    <div class="wraper">

        <div class="text-box">
            <p> My name is Margarita Garcia.  Welcome to my Travel Site.  
                Here you will find breathtaking images or beautiful landscapes and delicious food from around the world.  
                Keep checking the site periodically so you don’t miss out on vacation ideas and make sure to register 
                so you can have access to provide feedback or suggestions for future destinations.</p>
        </div>
    </div>
    <div class="container">
        <div class="row">
          <img src="assets/images/TravelHome.jpg" class="img-responsive" alt="Travel Home">
        </div>
    </div>
    <br/><br/>

</div>           