<div class="outer">
    <div id="dashboard-title" class="page-title">
    <p >My Travel Site</p>
    </div>

    <div class="wraper">

        <div class="text-box">
            <p> My name is Margarita Garcia.  Welcome to my Travel Site.  
                Here you will find breathtaking images or beautiful landscapes and delicious food from around the world.  
                Keep checking the site periodically so you don’t miss out on vacation ideas and make sure to register 
                so you can have access to provide feedback or suggestions for future destinations.</p>
                <div class="section-1"></div>
        </div>
    </div>

</div>           