.outer{
    height:100vh;
    background: linear-gradient(to top, #b2ddf4 50%, #0777ab 90%) no-repeat;
}

.panel-heading{
    text-align: center;
    margin-bottom: 10px;
}

#forget{
    min-width: 100px;
    margin-left: auto;
    text-decoration: none;
    cursor: pointer;
}

a:hover{
    text-decoration: none;
}

.form-inline label{
    padding-left: 10px;
    margin:0;
    cursor: pointer;
}

.btn{
    margin-top: 20px;
    border-radius: 15px;
}

.panel{
    min-height: 380px;
    box-shadow: 20px 20px 80px rgb(218, 218, 218);
    border-radius: 12px;
    margin-top: 100px;
}

.input-field{
    border-radius:5px;
    padding: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px solid #ddd;
    color: #2473a0;
}

.input-field.error{
    border: 1px solid red;
    color: red;
}

input[type='text'],
input[type='password']{
    border:none;
    outline: none;
    box-shadow: none;
    width: 100%;
}

.fa-wyw-slash.btn{
    border: none;
    outline: none;
    box-shadow: none;
}

img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius:50%;
    position: relative;
}
.bordert{
    border-top: 1px solid #aaa;
    position: relative;
}

.bordert:after{
    content: "or connect with";
    position: absolute;
    top: -13px;
    left: 33%;
    background-color: #fff;
    padding: 0 8px;
}

.section-1{
    width: 1000px;
    height: 500px;
    background-image: url(TravelHome.JPG);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-left: 50px;
    padding-right: 50px;
}

.section-2{
    width: 200px;
    height: 300px;
    float: right;
    background-image: url(Xcaret1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.wrapper{
    margin: 200px;
    width: 70%;
    position: center;

}

.page-title{
    text-align: center;
    font-size: 42px;
    padding-top: 100px;
}
.text-box p{
    font-size: 20px;
    padding-left: 50px;
    padding-right: 50px;
}


/*--blog--------------------------*/
#blog{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.blog-heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
}
.blog-heading span{
    color: #330899;
}
.blog-heading h3{
    font-size: 2.4rem;
    color: #2b2b2b;
    font-weight: 600;
}
.blog-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap;
}
 
.blog-box{
    width:350px;
    background-color: #ffffff;
    border: 1px solid #ececec;
    margin: 20px 20px;
 
}
.blog-img{
    width:100%;
    height: auto;
}
.blog-img img{
    width:100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.blog-text{
    padding: 30px;
    display: flex;
    flex-direction: column;
}
.blog-text span{
    color: #3c8bf3;
    font-size: 0.9rem;
}
.blog-text .blog-title{
    font-size: 1.3rem;
    font-weight: 500;
    color: #272727;
}
.blog-text p{
    color: #9b9b9b;
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0px;
}
.blog-text a{
    color: #0f0f0f;
}
.blog-text a:hover{
    color: #6a0ce4;
    transition: all ease 0.3s;
}
 
 
@media(max-width:1250px){
 
    .blog-box{
        width: 300px;
    }
} 
@media(max-width:1100px){
    .blog-box{
        width:70%;
    }
}
 
@media(max-width:550px){
   
    .blog-box{
        margin: 20px 10px;
        width: 100%;
    }
    #blog{
        padding:20px;
    }
}